extends ../layout.pug

block append head
    title Jeneric Install Step 1
    meta(name="description" content="Jeneric Install Step 1")

block content

    h1 Jeneric Install Step 1

    p We can not find a default user in the database. Please create a new one.

    if form && form.errors
        ul
            each error in form.errors
                li error.message

    +form(method='post' form=form)
        .form-group
            label(for='email') Email
            +textfield.form-control(type='email' name='email')
        .form-group
            label(for='password') Password
            input.form-control(type='password' name="password")
        button.btn.btn-primary(type='submit') Submit
