extends ../layout.pug

block append head
    title Jeneric Install Step 1
    meta(name="description" content="Jeneric Install Step 1")

block content

    h1 Jeneric Install Step 1

    p We can not find a default user in the database. Please create a new one.

    form(method='post')
        .form-group
            label(for='email') Email
            input.form-control(id='email' type='email' name="email")
        .form-group
            label(for='password') Password
            input.form-control(id='password' type='password' name="password")
        button.btn.btn-primary(type='submit') Submit
