extends ../layout-signed-out.pug

block append head
    title=trans('jeneric.install.user_check.title')
    meta(name="description" content=trans('jeneric.install.user_check.description'))

block content

    h1.h3=trans('jeneric.install.user_check.headline')

    .jeneric-text
        p=trans('jeneric.install.user_check.text')


