extends ../layout.pug

block append head
    title=trans('jeneric.install.title')
    meta(name="description" content=trans('jeneric.install.description'))

block content

    .jeneric-page.jeneric-page-install

        .jeneric-install

            h1.h3=trans('jeneric.install.check.headline')

            p=trans('jeneric.install.check.text')


