extends ../layout-signed-out.pug

block append head
    title=trans('jeneric.install.user_creation_success.title')
    meta(name="description" content=trans('jeneric.install.user_creation_success.description'))

block content

    h1.h3=trans('jeneric.install.user_creation_success.headline')

    .jeneric-text
        p=trans('jeneric.install.user_creation_success.text')


