extends ../../../layout/jeneric/signed-out

block append head
    title=view.translate('jeneric.install.user_creation_success.title')
    meta(name="description" content=view.translate('jeneric.install.user_creation_success.description'))

block content

    h1.h2=view.translate('jeneric.install.user_creation_success.headline')

    .jeneric-text
        p=view.translate('jeneric.install.user_creation_success.text')


