extends layout-signed-in.pug

block append head
    title=view.jeneric.trans('jeneric.index.title')
    meta(name="description" content=view.jeneric.trans('jeneric.index.description'))

block content

    h1.h2=view.jeneric.trans('jeneric.index.headline')
