extends layout-signed-in.pug

block append head
    title=trans('jeneric.index.title')
    meta(name="description" content=trans('jeneric.index.description'))

block content

    h1.h2=trans('jeneric.index.headline')
