include ../../../node_modules/@jeneric/core/view/pug/core/mixins/mixins.pug

doctype html
html(lang="en")
    head
        block head
            meta(charset="utf-8")
            meta(http-equiv="x-ua-compatible" content="ie=edge")
            meta(name="viewport" content="width=device-width, initial-scale=1")
            link(rel='stylesheet' href=asset('jeneric/css/style.css'))
            link(rel='stylesheet' href=asset('vendor/fontawesome/css/all.min.css'))

    body
        .jeneric-page.jeneric-page-panel
            .jeneric-panel
                a.jeneric-logo.jeneric-brand-name(href='/jeneric')
                    span J
                    span E
                    span N
                    span E
                    span R
                    span I
                    span C

                .jeneric-panel-content
                    block content

                .jeneric-panel-footer
                    p
                        span.jeneric-brand-name
                            span J
                            span E
                            span N
                            span E
                            span R
                            span I
                            span C
                        |
                        | -
                        |
                        =trans('jeneric.panel.footer.text')

