extends ../layout-signed-out

block append head
    title=trans('jeneric.user.password_token_expired.title')
    meta(name="description" content=trans('jeneric.user.password_token_expired.description'))

block content

    h1.h2=trans('jeneric.user.password_token_expired.headline')

    .jeneric-text
        p=trans('jeneric.user.password_token_expired.text')
