extends layout-signed-in.pug

block append head
    title=view.jeneric.translate('jeneric.index.title')
    meta(name="description" content=view.jeneric.translate('jeneric.index.description'))

block content

    .jeneric-toolbar-top
        .jeneric-toolbar-top-left

        .jeneric-toolbar-top-right
            .jeneric-toolbar-top-right-user=user.email


    h1.h2=view.jeneric.translate('jeneric.index.headline')
