extends ../layout-signed-out

block append head
    title=view.jeneric.translate('jeneric.user.password_token_expired.title')
    meta(name="description" content=view.jeneric.translate('jeneric.user.password_token_expired.description'))

block content

    h1.h2=view.jeneric.translate('jeneric.user.password_token_expired.headline')

    .jeneric-text
        p=view.jeneric.translate('jeneric.user.password_token_expired.text')
