extends ../layout-signed-out.pug

block append head
    title=view.translate('jeneric.user.password_reset_success.title')
    meta(name='description' content=view.translate('jeneric.user.password_reset_success.description'))

block content

    h1.h2=view.translate('jeneric.user.password_reset_success.headline')

    .jeneric-text
        p=view.translate('jeneric.user.password_reset_success.text')



