ul {
    &.form-error {

    }
}

.form-group {

    margin-top:20px;
    position: relative;
    width:100%;
    margin-bottom:30px;

    label {
        position: absolute;
        z-index: 0;
        left: 0px;
    }

    input:placeholder-shown + label {
        top: 6px;
        font-size: 14px;
        line-height: 20px;
        color: rgba($color-dark-grey, 0.5);
    }

    input {
        position: relative;
        z-index: 1;
        box-sizing: border-box;
        line-height: 30px;
        background: transparent;
        border: none;
        outline: none;
        border-bottom: 1px solid rgba($color-dark-blue, 0.2);
        color: $color-dark-grey;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        height: 30px;
        width: 100%;
    }

    input::placeholder {
        text-indent: -9999px;
    }

    input:focus + label,
    label {
        font-size: 11px;
        line-height: 14px;
        top: -14px;
        color: $color-dark-grey;
        transition: all 0.2s ease;
    }

    input:focus {
        width: 100%;
        border-bottom: 1px solid $color-middle-blue;
        transition: all 1s ease;
    }


}

button[type="submit"] {
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    outline: none;
    color: $color-white;
    background: $color-pink;
    line-height: 40px;
    width:100%;
    cursor: pointer;
    border-radius: 2px;
    //text-shadow: 0 1px 3px rgba($color-black, 0.6);
    //text-transform: uppercase;
    text-shadow: 0px 1px 3px rgba(#000000,0.6);
}

button[type="submit"]:hover {
    background-color: $color-orange;
    transition: all 0.5s ease;
}
