.jeneric-page-install {
    width: 100%;
    height: auto;
    min-height: 100%;
    position: fixed;
    background-color: $color-blue;

    .jeneric-install {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 560px;
        padding: 50px;
        background-color: $color-white;
        border-radius: 2px;
        box-shadow: 0 0px 20px 6px rgba(#000000, 0.2)
    }
}

