.jeneric-page-login {
    width: 100%;
    height: auto;
    min-height: 100%;
    position: fixed;

    .jeneric-login {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
    }
}

